<div class="container my-container">
  <h1>Top</h1>
  <p id="notice"><%= notice %></p>
  <%= link_to "ブログ一覧", blogs_path, class: 'btn btn-primary text-white' %>
  <%= link_to "ユーザー一覧", users_path, class: 'btn btn-info text-white' %>
</div>
