<div class="container my-container">
  <h1>Top</h1>
  <p id="notice"><%= notice %></p>
  <%= link_to "ブログ一覧", blogs_path, class: 'btn btn-primary text-white' %>
  <%= link_to "ユーザー一覧", users_path, class: 'btn btn-info text-white' %>

  <h2>自己紹介</h2>
  <h1>小川乃輝 (おがわ だいき)</h1>
    <img src="4FBB3039-3A35-4AE1-A2E4-9CE09C9C7F5A_1_105_c.jpeg" alt="">
    <div>
      <h2>現在の職業</h2>
      <ul>
        <li>武蔵大学 24卒 (現在休学中)</li>
        <li>42東京</li>
        <li>株式会社SUPER STUDIO(インターン)</li>
      </ul>
    </div>

    <div>
      <h2>所属チーム</h2>
      <p>未所属</p>
  </div>

  <div>
  	<h2>好きなこと</h2>
  	<ul>
        <li>サックス演奏(超初心者)</li>
        <li>ミュージカル鑑賞</li>
        <li>Apple製品</li>
        <li>コーディング</li>
        <li>美味しい食べ物(特にカレー)</li>
      </ul>
  </div>

    <div>
      <h2>SUPER STUDIOをどこで知ったのか</h2>
      <p>Wantedlyで声をかけていただいたのがきっかけ</p>
    </div>

    <div>
      <h2>なぜプログラミングをしようと思ったのか</h2>
      <p>大好きなMacが活躍できることをしたかった</p>
    </div>

    <div>
      <h2>プログラミングを通してどんなところを目指すのか</h2>
      <p>Value製造機になる</p>
    </div>

    <div>
      <h2>1年後の姿（1年後、自分はこうなっている！）</h2>
      <p>自分のサービスを運用している</p>
    </div>
</div>
